/* main.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  color: #333;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between; /* 요소들을 양 끝으로 배치 */
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.list,
.input {
  width: 48%; /* 두 요소가 나란히 배치되도록 각 요소의 너비를 48%로 설정 */
}

.input {
  display: none; /* 초기에는 작성 폼을 숨김 */
}

.input.show {
  display: block; /* 클래스가 추가되면 작성 폼을 보이게 설정 */
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* 화면 크기가 작아질 때는 세로로 배치 */
  }
  .list,
  .input {
    width: 100%; /* 각 요소가 화면 전체를 차지하도록 설정 */
  }
}
